<div class="container-fluid px-15 px-md-30">
    <div class="d-flex justify-content-between align-items-center pt-10 pt-lg-30">
        <div class="d-flex align-items-center gap-20">
            <div class="logo">
                <img src="./assets/logoMediterrum.jpg" alt="Logo">
            </div>
            <div class="d-flex flex-column">
                <p>Luis Alberto</p>
                <p class="detalle pt-10">Administrador</p>
            </div>  
        </div>
       
        
        <nav class="navbar d-none">
            <ul>
                <li class="nav-item">
                    <a href="#" class="nav-link active">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Inventario</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Clientes</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Ventas</a>
                </li>
            </ul>
        </nav>
    </div>
</div>