header{
    &.not-home{
        position: fixed;
        top: 0;
    }
}

.navbar{
    ul{
        list-style: none;
        display: flex;
        margin: 0 -15px;
        padding-top: 20px;
        @include media-breakpoint-up(md){
            padding-top: 0px;
        }
        @include media-breakpoint-down(md){
            justify-content: center;
            overflow-x: scroll;
                .nav-item {
                white-space: nowrap;
            }
        }

        .nav-item{
            .nav-link{
                text-decoration: none;
                padding: 0 15px;
                &.active{
                    color: $green;
                }
            }
        }
    }
}