.vh-100{
    height: 100vh;
}

.gap-15{
    gap: 15px;
}

.gap-20{
    gap: 20px;
}

.r-gap-15{
    row-gap: 15px;
}

.r-gap-30{
    row-gap: 30px;
}

.mb-little-2{
    margin-bottom: 2px;
}

.r-gap-acciones{
    @include media-breakpoint-down(lg){
        row-gap: 18px
    }
    @include media-breakpoint-down(md){
        row-gap: 15px
    }
    &:last-child{
        .pleca-h{
            display: none;
        }
    }
    @include media-breakpoint-up(lg){
        margin: 0 -7.5px;
    }
}

.pleca-w{
    height: 1px;
    width: 100%;
    background-color: $white;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: rgba($brown, 0.5);
}

.c-green{
    color: $green;
}


.pleca-h{
    height: 1px;
    width: 100%;
    background-color: $brown;
}

.col-lg-1-esp{
    @include media-breakpoint-up(lg){
        width: 7.14%;
    }
}
.col-lg-3-esp{
    @include media-breakpoint-up(lg){
        width: 21.42%;
    }
}
.col-lg-2-esp{
    @include media-breakpoint-up(lg){
        width: 14.28%;
    }
}

.px-md-7p5{
    @include media-breakpoint-up(md){
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

.px-7p5{
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.px-lg-7p5{
    @include media-breakpoint-up(lg){
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

.pl-7p5{
    padding-left: 7.5px;
}

.gap-13{
    gap: 13px;
}

.center-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

.img-wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.discount{
    opacity: 0.5;
}

.brown-photo{
    background-color: $lightbrown;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 272px;
    @include media-breakpoint-up(md){
        height: 350px;
    }
}

.circle-green{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: $green;
}

.r-gap-5{
    row-gap: 5px;
}

.divider-sm{
    height: 1px;
    width: 24px;
    background-color: rgba($brown, 0.5);
}

.r-gap-30{
    row-gap: 30px;
}