/*
    TestTestTest [Template - Root] 2024
    Description: Congrats on starting a new project! This is the main root of stylesheet for TestTestTest Projects
    Version: 1.0

    TestTestTest was here.
    If you're reading this, you're a nerd.
*/

/*
Table of Contents
-----------------
1. Normalize
2. Global
3. Pages
   3.1 Home Page 
*/

// 1. Normalize

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
    background-color: $white;
    @include body-text;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $brown;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:not([href]):not([tabindex]){
    cursor: pointer;
}

a {
    color: inherit;
    &:hover {
      color          : inherit;
      text-decoration: none;
    }
}
  
ul{
    padding-left: 0;
}

::placeholder {
    color: $placeholder-color;
}

.h1,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin-bottom: 0;
}

.loader{
    background-color: $offwhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

figure{
    margin: 0;
}

button{
    border: none;
}

input{
    appearance: none;
    background-color: transparent;
    outline: none;
    border: none;
}

.logo-login{
    width: 40px;
    height: 70px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.logo{
    width: 30px;
    height: 53px;
    @include media-breakpoint-up(lg){
        width: 40px;
        height: 70px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}

.container-crud{
    flex: 1;
    display: flex;
    .crud-box{
        background-color: $offwhite;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: $offwhite;
        position: relative;
        .datos{
            display: flex;
            flex-direction: column;
            gap: 22px;
            padding-top: 30px;
        }
        .reticula{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            .row{
                padding-top: 37px;
                padding-bottom: 23px;
            }
            .divider-reticula{
                width: 1px;
                background-color: rgba($brown, 0.5);
                align-self: stretch;
                padding: 0
            }
            @include media-breakpoint-down(lg){
                display: none;
            }
        }
    }
}

.divider-reticula{
    width: 1px;
    background-color: rgba($brown, 0.5);
    align-self: stretch;
    padding: 0
}

.reticula-abs{
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 30px;
    width: 100%;
    pointer-events: none;
    @include media-breakpoint-down(md){
        display: none;
    }
}

.contain-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    p{
        word-break: break-all;
    }
    @include media-breakpoint-down(lg){
        justify-content: flex-start;
    }
    @include media-breakpoint-down(md){
        padding-right: 15px;
    }
}

.invalid-fields{
    .empty-fields{
        color: $white;
        display: none;
        &.show{
            padding-top: 50px;
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
    .invalid-email{
        color: $white;
        display: none;
        &.show{
            padding-top: 50px;
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
}

.hist{
    &:last-of-type{
        .divider-container{
            display: none;
        }
        
    }
}

.grid-usuarios{
    &:last-child{
        .divider-container{
            display: none;
        }
    }
}

.menu-drop{
    background-color: $offwhite;
    border-radius: 20px;
    border: 1px solid $brown;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    position: absolute;
    right: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity cubic-bezier(0.19, 1, 0.22, 1) 0.5s;


    .link-drop{
        display: flex;
        gap: 10px;
        color: $brown;
        padding: 5px 15px;
        border-radius: 20px;
        white-space: nowrap;
        text-decoration: none;
    }
}

.pagination{
    display: flex;
    gap: 15px;
    .number{
        width: 15px;
        text-align: center;
        opacity: 0.5;
        &.current{
            opacity: 1;
        }
    }
    .arrow-navigation{
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: all;
        &.disabled{
            opacity: 0.5;
            pointer-events: none;
        }
    }
}

.link-disabled{
    text-decoration: none;
    pointer-events: none;
    opacity: 0.5;
}

.container-desc{
    background-color: #F1EFE9;
    border-radius: 30px;
    padding: 30px 10px;
}

.container-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    .toggle-modal{
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.5);
    }
    &.show{
        opacity: 1;
        pointer-events: all;
    }
    .modal{
        background-color: $lightbrown;
        border-radius: 20px;
        color: $white;
        padding: 30px;
        position: relative;
        z-index: 1;
        .close-button{
            width: 30px;
            height: 30px;
            border: 1px solid $white;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.close-button{
    width: 30px;
    height: 30px;
    border: 1px solid $white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-personas{
    background-color: $offwhite;
    padding: 28px 0 50px;
    color: $brown;
    border-radius: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    &.green{
        background-color: $green;
        color: $white;
    }
    &.brown{
        background-color: $lightbrown;
        color: $white;
    }
}

.venta-row{
    &:last-child{
        .divider-container{
            display: none;
        }
    }
}


.grid-usuarios{
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include media-breakpoint-up(lg){
        display: grid;
        align-items: center;
        grid-template-columns: repeat(20, 1fr);
        column-gap: 10px;
    }
    .usuario-3{
        @include media-breakpoint-up(lg){
            grid-column: span 3;
        }
    }

    .usuario-2{
        @include media-breakpoint-up(lg){
            grid-column: span 2;
        }
    }

    .usuario-4{
        @include media-breakpoint-up(lg){
            grid-column: span 4;
        }
    }
}

.container-carrito{
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    .toggle-carrito{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.5);
        pointer-events: none;
        opacity: 0;
        transition: opacity cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    }
    .modal-carrito{
        pointer-events: all;
        color: $white;
        transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 100;
        background-color: $lightbrown;
        border-radius: 30px 0 0 30px;
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
        padding: 30px 20px 30px;
        transform: translateX(100%);
        @include media-breakpoint-up(md){
            width: 60%;
        }
        @include media-breakpoint-up(lg){
            padding: 50px 30px 30px;
            width: 32.5%;
        }
    }
    &.show{
        pointer-events: all;
        .toggle-carrito{
            pointer-events: all;
            opacity: 1;
        }
        .modal-carrito{
            transform: translateX(0);
        }
    }
}


.container-white{
    background-color: $offwhite;
    color: $lightbrown;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.box-quantity{
    padding: 0 5px;
    width: 80px;
    height: 28px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    margin-top: auto;
    input{
        min-width: 0;
        text-align: center;
        pointer-events: none;
    }
}

.trash-button{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overflow-prod{
    overflow-y: auto;
    overflow-x: hidden;
}