// -------- Variables ----------------- 

// Colors
$black: #000000;
$brown: #776254;
$lightbrown: #B6A996;
$offwhite: #F1EFE9;
$green: #8DAA6A;
$white: #F7F6F3;
$error: #FF0000;


// Base Variables
$body-background-color: $white;
$body-text-color: $black;
$title-text-color: $black;
$placeholder-color: $black;

// Types
$font-body: 'Montserrat Regular';
$font-detalle: 'Biko Regular';



